.artist-card {
  .card {
    width: 18rem;
    border: none;

    .btn {
      background-color: white;
      color: black;
      border: none;
    }

    .card-text {
      font-size: 14px;
      text-align: center;
    }
  }
}